body{
	background-color:#cccccc;
	margin:0px;
	font: 400 12px/22px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#6a6969;
}
h1{font: 400 58px/60px 'Bree Serif', Georgia, serif; color:#6a6969;}
h2{font: 400 32px/22px 'Bree Serif', Georgia, serif; color:#6a6969; line-height: 100%;}
h3{font: 400 24px/18px 'Bree Serif', Georgia, serif; color:#6a6969;}
ul{margin:0px; padding:0px;}
a {text-decoration:none; color:#6a6969;}
a:hover {color:#979797;}
a img{border:0px;}
textarea
	{
		resize:none; 
		background-color: #111111; 
		color: #ffffff; 
		font: 200 14px/10px 'Bree Serif', Georgia, serif; 
		color:#6a6969; 
	}
input[type="text"] 
	{
		background-color: #111111; 
		color: #ffffff; 
		font: 200 14px/10px 'Bree Serif', Georgia, serif; 
		color:#6a6969; 
		border-color: #ffffff;
	}
input[type="email"] 
	{
		background-color: #111111; 
		color: #ffffff; 
		font: 200 14px/10px 'Bree Serif', Georgia, serif; 
		color:#6a6969; 
	}

#container{
	width:950px;
	margin:0px auto 300px auto;
	background-color:#111111;
	overflow:auto;
	padding-bottom:100px;
}

/****************************************************/
/* HEADER */
/****************************************************/

#header{
	width:864px;
	height:115px;
	background-color:#111111;
	padding:0px 43px;
	position: fixed;
	top:0px;
	left:50%;
	margin: 0 0 0 -475px;
}
#header #logo{
	padding-top:40px;
	float:left;
}
#header #main-menu{float:right; padding-top:45px;}
#header #main-menu li{
	float:left;
	list-style:none;
	margin-left:27px;
	font: 400 16px/20px 'Bree Serif', Georgia, serif;
}

/****************************************************/
/* ABOUT SECTION */
/****************************************************/

#about{margin:0px 43px; padding-top:115px;}
#about h1{float:left;}
#about #top-social{float:right; padding-top:62px;}
#about #top-social li{float:left; list-style:none; margin-left:10px;}
#about #top-social .facebook{
	text-indent:-9999px; 
	display:block; 
	width:26px; 
	height:26px; 
	background:url(images/sm-facebook-icon.png) no-repeat;
}
#about #top-social .twitter{
	text-indent:-9999px; 
	display:block; 
	width:31px; 
	height:24px; 
	background:url(images/sm-twitter-icon.png) no-repeat;
}
#about #top-social .linkedin{
	text-indent:-9999px; 
	display:block; 
	width:26px; 
	height:26px; 
	background:url(images/sm-linkedin-icon.png) no-repeat;
}
#about .content{overflow:auto;}
#about .content img{float:left; margin-right:40px; border:5px solid #222222;}
#about .content #service-icons{margin-top:20px;}
#about .content #service-icons li{
	display:block;
	width:108px;
	height:108px;
	text-indent:-9999px;
	list-style:none;
	float:left;
	margin-right:20px;
}


/****************************************************/
/* skills SECTION */
/****************************************************/

#skills{margin:0px 43px; padding-top:115px;}
#skills .col{
	width:235px;
	float:left;
}
#skills .content{overflow:auto;}
#skills .col-mid{margin:0px 65px;}
#skills .col-right{margin:0px 30px;}

#skills .content #service-icons li.services-code{margin-left:75%; display:none;}
#skills li{ 
	display:inline; 
	padding-left:8%;
	padding-right:5%;
	list-style:none; 
	font: 400 16px/20px 'Bree Serif', Georgia, serif;
}

/****************************************************/
/* Jobs SECTION */
/****************************************************/

#jobs{margin:0px 43px; padding-top:115px;}
#jobs .col{
	width:235px;
	float:left;
	height:auto;
}
#jobs .content{overflow:auto;}
#jobs .col-mid{margin:0px 30px;}
#jobs .col-right{margin:0px 30px; height:auto; width:auto;}

#jobs .content #service-icons li.services-code{margin-left:75%; display:none;}
#jobs li{ 
	display:inline; 
	padding-left:8%;
	padding-right:5%;
	list-style:none; 
	font: 400 16px/20px 'Bree Serif', Georgia, serif;
}

/****************************************************/
/* WORK SECTION */
/****************************************************/

#work {margin-top:43px; padding-top:115px;}
#work .content{overflow:auto; margin-left:8.5%;}
#work #work-thumbs li{
	list-style:none;
	float:left;
	margin:0px 20px 15px 0px;
	padding:0px;
}
#work #work-thumbs li.last{margin:0px;}*/

/****************************************************/
/* contact SECTION */
/****************************************************/
#contact{margin:0px 43px; padding-top:115px;}
#contact .content{overflow:auto;}
#contact #form{
	width:410px;
	float:left;
}
#contact #form span{
	display:block;
	float:left;
	width:100px;
	padding-top:5px;
	font: 400 14px/16px 'Bree Serif', Georgia, serif;
}
#contact #form input{
	float:left;
	width:255px;
	border:0px;
	color:#000000;
	padding:10px 10px 10px 30px;
	font: 400 14px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	margin-bottom:10px;
}
#contact #form textarea{
	float:left;
	border:0px;
	width:255px;
	height:100px;
	padding:10px 10px 10px 30px;
	font: 400 14px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#000000;
}

#contact #form input.name{background:#666666 url(images/icon-user.png) no-repeat 10px 8px;}
#contact #form input.email{background:#666666 url(images/icon-mail.png) no-repeat 10px 9px;}
#contact #form textarea.message{background:#666666 url(images/icon-message.png) no-repeat 10px 8px;}
#contact #form input.submit{ 
	width:100px;   
	height:30px;
	float:right;
	padding:0px 0px 5px 0px;
	margin:10px 16px 0px 0px;
	background:#222222;
	color:#3b3b3b;
	font: 400 14px/16px 'Bree Serif', Georgia, serif;
}

#contact #social-footer{
	width:300px;
	float:left;
	margin-left:75px;
}
#contact #social-footer #sm-links{margin-top:25px;}
#contact #social-footer #sm-links li{
	list-style:none;
	float:left;
}
#contact #social-footer #sm-links li a{
	display:block;
	text-indent:-9999px;
	width:26px; 
	height:26px;
	margin-right:10px;
}
#contact #social-footer #sm-links li a.facebook{background:url(images/sm-facebook-icon.png) no-repeat;}
#contact #social-footer #sm-links li a.twitter{background:url(images/sm-twitter-icon.png) no-repeat; width:31px;}
#contact #social-footer #sm-links li a.dribble{background:url(images/sm-dribble-icon.png) no-repeat;}
#contact #social-footer #sm-links li a.vimeo{background:url(images/sm-vimeo-icon.png) no-repeat; width:27px;}
#contact #social-footer #sm-links li a.google{background:url(images/sm-google-icon.png) no-repeat;}
#contact #social-footer #sm-links li a.youtube{background:url(images/sm-youtube-icon.png) no-repeat; width:28px;}
#contact #social-footer #sm-links li a.linkedin{background:url(images/sm-linkedin-icon.png) no-repeat;}

/****************************************************/
/* MISC */
/****************************************************/
.top-divider, .bottom-divider{
	width:500pxpx;
	height:50px;
	background:url(images/divider.png) ;
	background-size: contain;
	overflow:none;
	clear:both;
	margin-left:25%;
	margin-right:25%;
	
}

/*
.top-divider{margin-bottom:40px;}
.bottom-divider{margin-top:40px;}
*/